:root {
    /* global variables */
    --entegro-pink: #c51189;
    --entegro-white: rgba(255,253,254,255);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--entegro-pink) !important;
}


.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--entegro-white);
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.error-message {
    color: red;
    text-align: center;
}

.login-logo {
    display: block;
    width: 45%;
    margin: auto;
}


