<!-- dropdown -->
<div class="dropdown">
    <div class="select">
        <span class="selected">lorem ipsum</span>
        <div class="caret"></div>
    </div>
    <ul class="menu">
        <li>Lorem Ipsum</li>
        <li class="active">Lorem Ipsum </li>
    </ul>
</div>

<!-- dropdown checkbox -->
<div id="surv_chooser" class="dropdown-checkbox">
    <div class="select">
        <span>Lorem Ipsum</span>
        <div class="caret"></div>
    </div>
    <ul id="checkbox_menu" class="menu scrollable dropdown-checkbox-closed">
        <li class="select-all-personnel">
            <input id="select_all_personnel" class="li-checkbox" type="checkbox"> Select All
        </li>
        <li class="checkbox-li">
            <input class="li-checkbox" type="checkbox" name="" value=""/>    
        </li>
    </ul>
</div>